ENVIRONMENT=development
CORS_ORIGINS=http://localhost:5173,http://localhost:3000,http://localhost
VITE_API_BASE_URL=/api
VITE_BACKEND_PROXY_TARGET=http://127.0.0.1:8000

INFLUXDB_ADMIN_USERNAME=admin
INFLUXDB_ADMIN_PASSWORD=smart-ink-password
INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=smart-ink-token
INFLUXDB_ORG=university
INFLUXDB_BUCKET=production_line

SIMULATION_INTERVAL_SECONDS=1.0
